@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    margin: 0;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6e5768;
    font-size: 10rem;

}

.field-container{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}

.field{
    /* border: 3px solid black; */
    width: 200px;
    height: 200px;
    margin-left: 10px;
    background-color: #d9db5a;
    text-align: center;
}